*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFD9DA;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {    
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #FF101F;
    background-color: #D991BA ;
}

#reset-btn, #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#B5446E;
    color: #fff;
    border: none;
    border-radius: 1rem;

}

#msg {
    color: #D991BA;
    font-size: 5vmin;
}
.msg-container {
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vmin
}
.hide {
    display: none;
}